<table>
<tr>
  <td>
    <%= link_to(profile_image(activity.user, :minor), activity.user.url) %>
  </td>
  <td>
    <p style="width:550px">
    <span style="font-size: 14px;"><%= link_to activity.user.short_name(20), activity.user.url %></span>
    <span style="font-size: 14px;"><%= _("has published on community %s") % link_to(activity.target.profile.short_name(20), activity.target.profile.url, :style => "color: #333; font-weight: bold; text-decoration: none;") if activity.target.profile.is_a?(Community) %></span>
    <span style="font-size: 10px; color: #444444; float:right;"><%= time_ago_as_sentence(activity.created_at) %></span>
    </p>
    <p>
    <span style="font-size: 14px;"><%= link_to(activity.params['name'], activity.params['url'], :style => "color: #333; font-weight: bold; text-decoration: none;") %></span>
    <br/>
    <span title='<%= activity.target.class.short_description %>' class='profile-activity-icon icon-new icon-new<%= activity.target.class.icon_name %>'></span>
    <%= image_tag(activity.params['first_image']) unless activity.params['first_image'].blank? %><%= strip_tags(truncate(activity.params['lead'], :length => 1000, :ommision => '...')).gsub(/(\xC2\xA0|\s)+/, ' ').gsub(/^\s+/, '') unless activity.params['lead'].blank? %>
    </p>
    <p><%= content_tag(:p, link_to(_('See complete forum'), activity.get_url), :class => 'see-forum') if activity.target.is_a?(Forum) %></p>
  </td>
</tr>
<tr>
  <td></td>
  <td>
    <%= render :partial => 'profile_comments', :locals => { :activity => activity } %>
  </td>
</tr>
</table>
