<% self.extend(CustomFormsPlugin::Helper) %>
<%= render :file => 'shared/tiny_mce', :locals => {:mode => 'simple'} %>

<%= error_messages_for :form %>
<%= required labelled_form_field _('Name'), f.text_field(:name) %>
<%= labelled_form_field(_('What is the time limit for this form to be filled?'), (
  date_range_field('form[begining]', 'form[ending]', @form.begining, @form.ending,
                   '%Y-%m-%d %H:%M',
                   { :time => true, :change_month => true, :change_year => true,
                     :date_format => 'yy-mm-dd', :time_format => 'hh:mm' },
                     { :size => 14 })
)) %>
<%= labelled_form_field _('Access'), f.select(:access, access_options(profile))%>
<% if profile.organization? %>
  <p>
  <%= labelled_check_box _('Triggered on membership request as requirement for approval'), 'form[for_admission]', '1', @form.for_admission %>
  <br/>
  <%= labelled_check_box _('Triggered after membership'), 'form[on_membership]', '1', @form.on_membership %>
  </p>
<% end %>
<%= labelled_form_field _('Description'), f.text_area(:description, :style => 'width: 100%', :class => 'mceEditor') %>

<h2><%= _('Fields') %></h2>

<ul class='field-list'>
  <% f.fields_for :fields do |builder| %>
    <li>
      <%= render partial_for_class(builder.object.class), :f => builder %>
    </li>
  <% end %>
</ul>

<div class="addition-buttons">
  <%= button(:add, _('Add a new text field'), '#', :onclick => "customFormsPlugin.addFields(this, 'fields', #{j html_for_field(f, :fields, CustomFormsPlugin::TextField).to_json}); return false")%>
  <%= button(:add, _('Add a new select field'), '#', :onclick => "customFormsPlugin.addFields(this, 'fields', #{j html_for_field(f, :fields, CustomFormsPlugin::SelectField).to_json}); return false")%>
</div>

<% button_bar do %>
  <%= submit_button :save, _('Save'), :cancel => {:action => 'index'}%>
<% end %>

<%= javascript_include_tag '../plugins/custom_forms/field' %>
